# Feature engineering

In [3]:
import pandas as pd
import numpy as np


#### Загрузим наши локально сохраненные данные/ Let's load our locally saved data

In [249]:
users_data = pd.read_csv('data csv/users', sep=";")
posts_text = pd.read_csv('data csv/posts', sep=";")
feed_data = pd.read_csv('data csv/feeds_data_5million', sep=";")

In [250]:
#Исключим признаки, не влияющие на дальнейшие предсказание - как показал EDA - gender, country, exp_group, os, source
users_data = users_data.drop(columns=['gender', 'country', 'os', 'source', 'exp_group'])
users_data.head()

   user_id  age           city
0   168552   16    Ivanteyevka
1   168551   38         Moscow
2   168550   41  Yekaterinburg
3   168549   18           Tula
4   168548   36    Kaliningrad

#### Cоздадим датафрейм пользователь и его активности /Create the user's date and time and his activity
action_users - к каждой активности добавим его пользователя по user_id

In [251]:
action_users = feed_data.merge(users_data,left_on="user_id", right_on="user_id")
action_users.shape

(5000000, 7)

In [252]:
action_users.head()

             timestamp  user_id  post_id action  target  age        city
0  2021-12-29 23:51:06   147682     6676   view       0   24  Trubchevsk
1  2021-12-29 23:48:26   147682     5180   view       0   24  Trubchevsk
2  2021-12-29 23:45:27   147682     5967   view       0   24  Trubchevsk
3  2021-12-29 23:43:55   147682     1983   view       0   24  Trubchevsk
4  2021-12-29 23:43:08   147682     6699   view       0   24  Trubchevsk

#### Группируем данные по пользователям  / Grouping data by users : 
**1. Отношение просмотра к лайку / ratio_of_likes_posts**
* timestamp -  был просмотр/ was the view
* tarege - лайк/ like 
* ratio of likes posts - доля лайка к просмотру

In [253]:
ratio_of_likes_posts = action_users \
    .groupby('user_id', as_index=False) \
    .agg({'timestamp':'count', 'target':'sum'}) \
    .rename(columns={'timestamp':'views', 'target':'likes'})
ratio_of_likes_posts['ratio of likes posts'] = ratio_of_likes_posts.likes / ratio_of_likes_posts.views

In [254]:
ratio_of_likes_posts.head()

   user_id  views  likes  ratio of likes posts
0      200     51      6              0.117647
1      201     26      4              0.153846
2      202     70      8              0.114286
3      204     28      5              0.178571
4      205     57      4              0.070175

**2. Отношение просмотра к лайку по каждому топику / ratio_of_likes_topic**
* timestamp -  был просмотр/ was the view
* tarege - лайк / like 
* ratio of likes posts - доля лайка к просмотру по каждому топику

In [255]:
ratio_of_likes_topic = action_users \
    .merge(posts_text[['post_id', 'topic']], on='post_id', how='inner') \
    .groupby(['user_id','topic'], as_index=False) \
    .agg({'timestamp':'count', 'target':'sum'}) \
    .rename(columns={'timestamp':'views', 'target':'likes'})
ratio_of_likes_topic['ratio of likes topic'] = ratio_of_likes_topic.likes / ratio_of_likes_topic.views

In [256]:
ratio_of_likes_topic.head()

   user_id     topic  views  likes  ratio of likes topic
0      200  business      3      0              0.000000
1      200     covid     16      3              0.187500
2      200     movie     14      1              0.071429
3      200  politics      6      1              0.166667
4      200     sport      8      0              0.000000

**3. Найдем для представленных в активности user-ов отношения лайка к просмотру для всех топиков / user_topic_likes_share**

In [259]:
user_topic_likes_share = ratio_of_likes_topic \
    .pivot(columns='topic', index='user_id', values='ratio of likes topic') \
    .reset_index() \
    .rename_axis(None, axis=1)

In [260]:
user_topic_likes_share.head()

,user_id,business,covid,entertainment,movie,politics,sport,tech
0,200,0.000000,0.187500,NaN,0.071429,0.166667,0.000000,0.25
1,201,NaN,0.000000,0.0,0.333333,0.000000,0.000000,0.00
2,202,0.000000,0.080000,0.0,0.166667,0.000000,0.166667,0.00
3,204,0.000000,0.166667,NaN,0.133333,1.000000,0.250000,NaN
4,205,0.333333,0.050000,0.0,0.200000,0.000000,0.000000,0.00

**4. Соеденим таблицы users и user_topic_likes_share / Let's connect the tables users and user_topic_likes_share**

In [261]:
user_data_new = users_data.merge(user_topic_likes_share, how='inner', on='user_id')
user_data_new.head()

,user_id,age,city,business,covid,entertainment,movie,politics,sport,tech
0,168551,38,Moscow,NaN,0.250000,0.40,0.125000,0.0,0.000000,0.0
1,168549,18,Tula,0.0,0.000000,0.00,0.100000,0.0,0.000000,0.0
2,168547,21,Magnitogorsk,0.0,0.043478,NaN,0.090909,0.2,0.000000,0.0
3,168545,25,Berezniki,0.0,0.000000,0.25,0.083333,NaN,0.333333,0.0
4,168544,18,Odesa,0.0,0.100000,0.00,0.142857,0.0,0.500000,0.0

In [263]:
user_data_new.isnull().sum()

user_id              0
age                  0
city                 0
business         11537
covid               80
entertainment    17305
movie               77
politics          4257
sport             1673
tech             22792
dtype: int64

In [265]:
#Заполним NaN = 0, если пользователю не попадался данные топик, то и отношения просмотра к лайку бдует0
user_data_new = user_data_new.fillna(0.0)

**5. Присоеденим к таблице ещё и колонку с отношением лайка и просмотра каждого пользователя / Let’s also add a column to the table with the ratio of likes and views for each user***

In [266]:
user_data_new = user_data_new.merge(ratio_of_likes_posts, on='user_id', how='inner')
user_data_new.head()

,user_id,age,city,business,covid,entertainment,movie,politics,sport,tech,views,likes,ratio of likes posts
0,168551,38,Moscow,0.0,0.250000,0.40,0.125000,0.0,0.000000,0.0,30,5,0.166667
1,168549,18,Tula,0.0,0.000000,0.00,0.100000,0.0,0.000000,0.0,34,1,0.029412
2,168547,21,Magnitogorsk,0.0,0.043478,0.00,0.090909,0.2,0.000000,0.0,65,4,0.061538
3,168545,25,Berezniki,0.0,0.000000,0.25,0.083333,0.0,0.333333,0.0,36,3,0.083333
4,168544,18,Odesa,0.0,0.100000,0.00,0.142857,0.0,0.500000,0.0,27,3,0.111111

Delete feature exp_group beacue this feature we dont need in this moment

**6. Создадим таблицу с признаками для каждого пользователя / Let's create a table with characteristics for each user.** 
<br/> **6.1** Соеденим таблицу юзеров с данными по отношению лайка к просмотру каждого пользователя (по которому есть информация) / Let’s connect the table of users with data on the ratio of likes to views for each user (for which there is information
<br/> **6.2** Добавим признаки по просмотрам и лайкам / Let's add signs for views and likes

In [267]:
ratio_of_likes_topic.head()
user_data_new_all = users_data.merge(user_topic_likes_share, how='left', on='user_id')

In [268]:
user_data_new_all = user_data_new_all.merge(ratio_of_likes_posts, on='user_id', how='left')

In [269]:
user_data_new_all.head()

,user_id,age,city,business,covid,entertainment,movie,politics,sport,tech,views,likes,ratio of likes posts
0,168552,16,Ivanteyevka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,168551,38,Moscow,NaN,0.25,0.4,0.125,0.0,0.0,0.0,30.0,5.0,0.166667
2,168550,41,Yekaterinburg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,168549,18,Tula,0.0,0.00,0.0,0.100,0.0,0.0,0.0,34.0,1.0,0.029412
4,168548,36,Kaliningrad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [270]:
f'{user_data_new_all.shape[0]} = {users_data.shape[0]}'

'163205 = 163205'

**7. Заполним NaN средним значеним по признаку / Let's fill NaN with the average value of the attribute**

In [271]:
topic_all_miss_val = action_users \
    .merge(posts_text[['post_id', 'topic']], on='post_id', how='inner') \
    .groupby(['topic'], as_index=False) \
    .agg({'timestamp':'count', 'target':'sum'}) \
    .rename(columns={'timestamp':'views', 'target':'likes'})
topic_all_miss_val['ratio of likes posts'] = topic_all_miss_val.likes / topic_all_miss_val.views

In [272]:
topic_all_miss_val

           topic    views   likes  ratio of likes posts
0       business   314482   43643              0.138777
1          covid  1209057  166904              0.138045
2  entertainment   252592   35626              0.141042
3          movie  1849193  258040              0.139542
4       politics   504728   66611              0.131974
5          sport   666493   95123              0.142722
6           tech   203455   23650              0.116242

In [273]:
#Заполним средним значением просмотров и лайков по топикам
for i in  topic_all_miss_val.topic:
    avg_topic =topic_all_miss_val.query(f'topic == "{i}"')['ratio of likes posts'].item()
    user_data_new_all[i] = user_data_new_all[i].fillna(avg_topic)

In [275]:
#Заполним средним значением просмотров и лайков в целом по активностям

avg_views = action_users.timestamp.count() / action_users.user_id.unique().shape[0]
avg_likes = action_users.target.sum() / action_users.user_id.unique().shape[0]

avg_views = round(avg_views, 0)
avg_likes = round(avg_likes, 0)

user_data_new_all['views'] = user_data_new_all['views'].fillna(avg_views)
user_data_new_all['likes'] = user_data_new_all['likes'].fillna(avg_likes)

user_data_new_all['ratio of likes posts'] = user_data_new_all.likes / user_data_new_all.views
user_data_new_all = user_data_new_all.drop(columns=['likes'])

In [284]:
user_data_new_all.head()

,user_id,age,city,business,covid,entertainment,movie,politics,sport,tech,views,ratio of likes posts
0,168552,16,Ivanteyevka,0.138777,0.138045,0.141042,0.139542,0.131974,0.142722,0.116242,46.0,0.130435
1,168551,38,Moscow,0.138777,0.250000,0.400000,0.125000,0.000000,0.000000,0.000000,30.0,0.166667
2,168550,41,Yekaterinburg,0.138777,0.138045,0.141042,0.139542,0.131974,0.142722,0.116242,46.0,0.130435
3,168549,18,Tula,0.000000,0.000000,0.000000,0.100000,0.000000,0.000000,0.000000,34.0,0.029412
4,168548,36,Kaliningrad,0.138777,0.138045,0.141042,0.139542,0.131974,0.142722,0.116242,46.0,0.130435

In [277]:
user_data_new_all.user_id.unique().shape

(163205,)

In [279]:
user_data_new_all.isna().sum()

user_id                 0
age                     0
city                    0
business                0
covid                   0
entertainment           0
movie                   0
politics                0
sport                   0
tech                    0
views                   0
ratio of likes posts    0
dtype: int64

**8. Закодируем категориальные признаки/ Coded categorical column**
<br/>Вместо города — среднее значение отношения лайков к просмотрам по категориям / instead of the city - the average value of the ratio of likes to views by category

In [290]:
mean_target = user_data_new_all.groupby('city')['ratio of likes posts'].mean()
user_data_new_all['city'] = user_data_new_all['city'].map(mean_target)

In [298]:
user_data_new_all.head()

,user_id,age,city,business,covid,entertainment,movie,politics,sport,tech,views,ratio of likes posts
0,168552,16,0.101590,0.138777,0.138045,0.141042,0.139542,0.131974,0.142722,0.116242,46.0,0.130435
1,168551,38,0.159781,0.138777,0.250000,0.400000,0.125000,0.000000,0.000000,0.000000,30.0,0.166667
2,168550,41,0.107315,0.138777,0.138045,0.141042,0.139542,0.131974,0.142722,0.116242,46.0,0.130435
3,168549,18,0.109604,0.000000,0.000000,0.000000,0.100000,0.000000,0.000000,0.000000,34.0,0.029412
4,168548,36,0.099558,0.138777,0.138045,0.141042,0.139542,0.131974,0.142722,0.116242,46.0,0.130435

**Сохраним признаки на сервер postreSQL**

In [297]:
password = '****' #При необходимоси пароль может быть скинут
conn_uri = f"postgresql://robot-startml-ro:{password}@postgres.lab.karpov.courses:6432/startml"

In [55]:
from sqlalchemy import create_engine

engine = create_engine(conn_uri)

user_feature_df.to_sql('v_patrakeev_all_users_new', con=engine, index=False, if_exists='replace')

205

In [56]:
#Сохраним признаки для рабоыт локально
user_feature_df.to_csv("user_feature_to_SQL_new", sep=";", index=False)

**8. Поработаем с признаками по постам / features by posts**

Ранее в EDA сохранили ТОП популярных постов с отношением просмотра к лайкам / Previously, EDA retained the TOP popular posts with the ratio of views to likes / 
<br/> Возьмем данный запрос за основу / Let's take this request as a basis.

In [301]:
post_popularity = pd.read_csv("data csv\post_popularity",sep=";")

In [302]:
post_popularity.sort_values(by='likes_share', ascending=False).head()

      post_id  likes  posts_views  likes_share
2106     2371   2284        13906           16
2743     3047   2194        13683           16
6311     6777   2759        17179           16
6614     7093   2758        16840           16
4332     4722   2738        16853           16

In [303]:
post_popularity.shape

(6831, 4)

**8.1 Колличество символов в теле поста / Number of characters in the post body**

In [59]:
posts_text['text_length'] = posts_text.text.apply(lambda x: len(x))

**8.1 Смержим посты которые попали в активность со всеми постами / Let's merge posts that are in activity with all posts**

In [304]:
post_feature = posts_text.merge(post_popularity, on='post_id', how='left').drop(columns=['text'])

In [306]:
post_feature.shape

(7023, 5)

In [307]:
post_feature.isnull().sum()

post_id          0
topic            0
likes          192
posts_views    192
likes_share    192
dtype: int64

In [308]:
#P
post_feature = post_feature.fillna(0.0)
post_feature.head()

   post_id  topic   likes  posts_views  likes_share
0     7319  movie   720.0       6585.0         10.0
1     7318  movie   680.0       6785.0         10.0
2     7317  movie   731.0       6803.0         10.0
3     7316  movie   677.0       6572.0         10.0
4     7315  movie  2619.0      16940.0         15.0

**9. Закодируем категориальные признак topic / Coded categorical column**
<br/>Вместо топика — среднее значение отношения лайков к просмотрам по кажому посту / Instead of a topic - the average ratio of likes to views for each post

In [312]:
mean_target = post_feature.groupby('topic')['likes_share'].mean()
post_feature['topic'] = post_feature['topic'].map(mean_target)

In [313]:
post_feature.head()

   post_id      topic   likes  posts_views  likes_share
0     7319  10.733667   720.0       6585.0         10.0
1     7318  10.733667   680.0       6785.0         10.0
2     7317  10.733667   731.0       6803.0         10.0
3     7316  10.733667   677.0       6572.0         10.0
4     7315  10.733667  2619.0      16940.0         15.0

In [314]:
f'{posts_text.post_id.unique().shape[0]} = {post_feature.post_id.unique().shape[0]}'

'7023 = 7023'

**Сохраним признаки на сервер postreSQL**

In [315]:
password = '****' #При необходимоси пароль может быть скинут
conn_uri = f"postgresql://robot-startml-ro:{password}@postgres.lab.karpov.courses:6432/startml"

In [189]:
from sqlalchemy import create_engine

engine = create_engine(conn_uri )

post_feature.to_sql('v_patrakeev_all_posts_new', con=engine, index=False, if_exists='replace') 
# записываем таблицу

23

In [69]:
#Сохраним признаки для рабоыт локально
post_feature.to_csv("post_feature_to_SQL_new", sep=";", index=False)


### По итогу, мы имеем две таблицы с признаками данных / As a result, we have two tables with data features
* Признаки по пользователю - возраст, город и соотношения просмтров к лайкам в зависимости от топика / Characteristics by user - age, city and ratio of views to likes depending on the topic
* Признаки по постам - Длина текста, колличетсво лайков, колличество просмтров, закодированный топик в зависимости от отношения просмотра и лайка по каждому посту / Features by post - Length of text, number of likes, number of views, coded topic depending on the ratio of views and likes for each post

In [316]:
posts, users = pd.read_csv("data csv/post_feature_to_SQL_new", sep=";"),pd.read_csv("data csv/user_feature_to_SQL_new", sep=";")

In [317]:
posts.head()

   post_id      Topic  text_length   likes  posts_views  likes_share
0     7319  10.733667          790   720.0       6585.0         10.0
1     7318  10.733667          728   680.0       6785.0         10.0
2     7317  10.733667          636   731.0       6803.0         10.0
3     7316  10.733667          800   677.0       6572.0         10.0
4     7315  10.733667          803  2619.0      16940.0         15.0

In [318]:
users.head()

,user_id,age,City,business,covid,entertainment,movie,politics,sport,tech,views,ratio of likes posts
0,168552,16,0.101590,0.138777,0.138045,0.141042,0.139542,0.131974,0.142722,0.116242,46.0,0.130435
1,168551,38,0.159781,0.138777,0.250000,0.400000,0.125000,0.000000,0.000000,0.000000,30.0,0.166667
2,168550,41,0.107315,0.138777,0.138045,0.141042,0.139542,0.131974,0.142722,0.116242,46.0,0.130435
3,168549,18,0.109604,0.000000,0.000000,0.000000,0.100000,0.000000,0.000000,0.000000,34.0,0.029412
4,168548,36,0.099558,0.138777,0.138045,0.141042,0.139542,0.131974,0.142722,0.116242,46.0,0.130435

**10. Создадим тренировчный датасет / Let's create a training dataset**
<br/> Сгруппируем наши активности user_id - post_id

In [323]:
actions_target = action_users \
    .groupby(['user_id', 'post_id'], as_index=False) \
    .agg({'target':'max', 'timestamp':'max'})

In [324]:
actions_target.head()

   user_id  post_id  target            timestamp
0      200       37       0  2021-12-29 15:11:05
1      200      167       0  2021-12-29 15:01:08
2      200      213       0  2021-12-24 14:02:13
3      200      994       1  2021-12-29 15:18:42
4      200     1122       0  2021-12-29 15:23:54

**11. Добавим к нашей группировке признаки / Let's add features to our grouping**

In [325]:
train_data = actions_target.merge(posts, on = 'post_id', how='inner')

In [326]:
train_data = train_data.merge(users, on = 'user_id', how='inner')

In [78]:
train_data.to_csv("train_data_new", sep=";", index=False)

In [329]:
train_data.head(4)

,user_id,post_id,target,timestamp,Topic,text_length,likes,posts_views,likes_share,age,City,business,covid,entertainment,movie,politics,sport,tech,views,ratio of likes posts
0,200,37,0,2021-12-29 15:11:05,10.513725,3634,2810.0,22136.0,12.0,34,0.133222,0.0,0.1875,0.141042,0.071429,0.166667,0.0,0.25,51.0,0.117647
1,200,167,0,2021-12-29 15:01:08,10.513725,1940,1154.0,8310.0,13.0,34,0.133222,0.0,0.1875,0.141042,0.071429,0.166667,0.0,0.25,51.0,0.117647
2,200,213,0,2021-12-24 14:02:13,10.513725,2923,2885.0,22261.0,12.0,34,0.133222,0.0,0.1875,0.141042,0.071429,0.166667,0.0,0.25,51.0,0.117647
3,200,994,1,2021-12-29 15:18:42,10.388489,2572,2829.0,22375.0,12.0,34,0.133222,0.0,0.1875,0.141042,0.071429,0.166667,0.0,0.25,51.0,0.117647